name: Release

on:
  push:
    tags: ["*"]
  workflow_dispatch:

env:
  MACOSX_DEPLOYMENT_TARGET: "10.15"

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
  build-vsix:
    needs: ["create-release"]
    name: Build VSCode Extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci
        working-directory: editors/code

      - name: Package VSCode Extension
        working-directory: editors/code
        run: npx @vscode/vsce package --out luau-lsp.vsix

      - name: Upload VSIX to GitHub Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: editors/code/luau-lsp.vsix
          asset_name: luau-lsp.vsix
          asset_content_type: application/octet-stream
