name: Pull Latest API Dump

on:
  workflow_dispatch:
  schedule:
    - cron: "10 0 * * *" # Runs at 00:10 UTC every day
  push:
    branches:
      - "main"
    paths:
      - "scripts/dumpRobloxTypes.py"

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - name: Update types dump
        run: |
          cd scripts
          python dumpRobloxTypes.py > globalTypes.d.luau
          python dumpRobloxTypes.py None > globalTypes.None.d.luau
          python dumpRobloxTypes.py LocalUserSecurity > globalTypes.LocalUserSecurity.d.luau
          python dumpRobloxTypes.py PluginSecurity > globalTypes.PluginSecurity.d.luau
          python dumpRobloxTypes.py RobloxScriptSecurity > globalTypes.RobloxScriptSecurity.d.luau
          python dumpRobloxTypes.py NotAccessibleSecurity > globalTypes.NotAccessibleSecurity.d.luau
          python dumpRobloxTypes.py RobloxSecurity > globalTypes.RobloxSecurity.d.luau

      - name: Update API docs
        run: |
          mkdir -p scripts/api-docs
          curl -s https://raw.githubusercontent.com/MaximumADHD/Roblox-Client-Tracker/roblox/api-docs/en-us.json > scripts/api-docs/en-us.json

      - name: Create Pull Request
        id: create_pull_request
        uses: peter-evans/create-pull-request@v6
        with:
          title: Update to latest types dump
          body: |
            Pulls in latest types dump
            - This pull request is **auto-generated**
          branch: auto/update-dump
          commit-message: Update types dump
          base: main
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable Pull Request Automerge
        run: gh pr merge --squash --auto "${{ steps.create_pull_request.outputs.pull-request-number }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
